@{
    ViewBag.Subtitulo = "Página Principal";
}

<h1 class="text-primary">Seja bem-vindo(a) a agenda da <strong>Blue Technology</strong></h1>
<hr>
<p>Seja bem-vindo ao meu teste de CRUD para a Empresa Blue Technology. Use o Menu superior para se deslocar pela aplicação.</p>