@{
    ViewBag.Subtitulo = "Página Principal";
}

<h1 class="text-primary">Agenda BLUE Technology</h1>
<hr>
<h3 class="text-info">Contatos Cadastrados na agenda: @ViewBag.QtdeUsuarios</h3>
<hr>
<a href="/Home/Usuarios" class="btn btn-primary">Contatos</a>

@section Footer{
    <span class="text-info">BLUE - Teste Crud Pedro</span>
}